<h1>Welcome</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<%= link_to "Login", '/login', method: :get, class: 'button'%>

<%= link_to "Register", '/users/new', method: :get, class: 'button'%>

<%= button_to "Google Login", '/auth/google_oauth2', method: :get, class: 'button'%>