// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.google-login {
   background-image: url(image-path('btn_google_signin_dark_normal_web.png'));

   #disabled {
    background-image: url(image-path('btn_google_signin_dark_disabled_web.png'));
   }

   #pressed {
    background-image: url(image-path('btn_google_signin_dark_pressed_web.png'));
   }

   #focus {
    background-image: url(image-path('btn_google_signin_dark_focus_web.png'));
   }
}